<app-header [activeTab]="'all'"></app-header>

<select class="select" (change)="updateNews($any($event.target).value, 0)">
    <option *ngFor="let fw of frameworks" [value]="fw.name">
      <img [src]="fw.icon">
      {{fw.name | titlecase}}
    </option>
</select>

<app-select [items]="frameworks" [selected]="'angular'">

</app-select>

<div *ngIf="data$ | async as data" class="grid">
    <div *ngFor="let item of data" class="item">
        <app-card [value]="item"></app-card>
    </div>
</div>

<app-pagination [page]="currentPage" (goTo)="updateNews(currentFramework, $event)"></app-pagination>