<div class="card">
    <a [href]="value.story_url" target=”_blank”>
        <div class="info">
            <div class="creation-info">
                <div><img src="assets/img/iconmonstr-time-2.svg" class="icon-time"></div>
                <div class="created_at">{{ value.created_at | formatTime }} hours by {{ value.author }}</div>
            </div>
            <p class="title"> {{ value.story_title }} </p>
        </div>
    </a>
    <button class="favorite" (click)="updateFavorite()">
        <div *ngIf="value.is_favorite; else nonFavorite">
            <img src="assets/img/iconmonstr-favorite-3.svg" class="icon-favorite">
        </div>
        <ng-template #nonFavorite>
            <img src="assets/img/iconmonstr-favorite-2.svg" class="icon-favorite">
        </ng-template>
    </button>
</div>