<div class="card">
    <a [href]="url" target=”_blank”>
        <div class="info">
            <div class="creation-info">
                <div><img src="assets/img/iconmonstr-time-2.svg" class="icon-time"></div>
                <div class="created_at">{{ created_at | formatTime }} hours by {{ author }}</div>
            </div>
            <p class="title"> {{ title }} </p>
        </div>
    </a>
    <button class="favorite" (click)="is_favorite ? is_favorite = false : is_favorite = true">
        <div *ngIf="is_favorite; else nonFavorite">
            <img src="assets/img/iconmonstr-favorite-3.svg" class="icon-favorite">
        </div>
        <ng-template #nonFavorite>
            <img src="assets/img/iconmonstr-favorite-2.svg" class="icon-favorite">
        </ng-template>
    </button>
</div>