<div itemscope itemtype="http://schema.org/Product">
  <h2 itemprop="name" style="text-align: center">Product test</h2>

  <div class="card">
    <img
      src="https://st.mngbcn.com/rcs/pics/static/T2/fotos/S20/27050828_TM_B.jpg?ts=1635170199453&imwidth=412&imdensity=2"
      alt="Denim Jeans"
      style="width: 100%"
    />
    <h1>Tailored Jeans</h1>
    <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
      <p itemprop="price" class="price">$19.99</p>
    </div>
    <p itemprop="description">
      Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum.
      Lorem jeamsun denim lorem jeansum.
    </p>
    <p><button>Add to Cart</button></p>
  </div>
</div>
