:root {
    --big-light-text: #3b3b3b;
    --normal-light-text: #6b6b6b;
    --small-light-text: #767676;
    --accent: #1890ff;
    --primary-bg-light: #fff;
    --secondary-bg-light: #606060;
}

body {
    font-family: 'Roboto', sans-serif;
    padding: 44px 150px;
}

@media only screen and (max-width: 920px) {
    body {
        padding: 40px;
    }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

